---
// data
import type { Playlist } from "@/lib/data";
// componentes 
import CardPlayButton from "@/components/menu/CardPlayButton"
import SoundMove from "@/components/menu/SoundMove";

interface Props {
    playlist: Playlist
}
const { playlist } = Astro.props
const { id, title, color, cover } = playlist;

//TODO por el momendo no duplicare las canciones hasta agregar nuevas 
// se usara desde la cancion 6 a la 12

---
<div class="relative group">
    <a
        href={`playlist/${id}`}
        rel="prefetch-intent"
        class='flex transition-all duration-300 overflow-hidden items-center gap-5 rounded-md shadow-lg hover:shadow-xl outline-none bg-white/10 hover:bg-white/20 focus:bg-white/20'
        transition:name={`playlist ${id} box`}
        data-color={color.dark}
        >
        <picture class='block h-20 w-20'>
            <img
                src={cover}
                alt={`Cover of ${title}`}
                class='object-cover h-full w-full shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]'
                transition:name=`playlist ${id} image`
            />
        </picture>
        <div 
            class='font-bold block' 
            transition:name=`playlist ${id} title`
        >
            {title}
        </div>
    </a>
    <div class='max-w-full absolute top-1/2 -translate-y-1/2 right-3 z-10'>
        <div class="absolute top-3 right-3 gap-[2px] ">
            <SoundMove id={id} client:load/>            
        </div>
        <div class="relative opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-20 ">
            <CardPlayButton  id={id} client:visible />
        </div>
    </div>
</div>
