---
// data
import type { Playlist } from "@/lib/data";
// componentes 
import CardPlayButton from "@/components/menu/CardPlayButton"
import SoundMove from "@/components/menu/SoundMove";
// type
interface Props {
    playlist: Playlist
}
const { playlist }: Props = Astro.props
const { id, title, color, cover } = playlist;

---
<div class="relative group">
    <a
        href={`playlist/${id}`}
        class='cursor-auto sm:cursor-pointer flex transition-all duration-300 items-center gap-2 sm:gap-5 rounded-[2px] sm:rounded-md overflow-hidden shadow-sm hover:shadow outline-none bg-card sm:bg-white/10 sm:hover:bg-white/20 sm:focus:bg-white/20'
        transition:name={`playlist-${id}-box`}
        data-color={color.dark}
        >
        <picture class='block h-12 w-12 sm:h-20 sm:w-20'>
            <img
                src={cover}
                alt={`Cover of ${title}`}
                class='object-cover h-full w-full shadow-cardLarge'
                transition:name=`playlist-${id}-image`
            />
        </picture>
        <div 
            class='flex-1 font-semibold text-sm leading-normal sm:text-[16px] sm:font-bold' 
            transition:name=`playlist-${id}-title`
        >
            {title}
        </div>
        <div class="relative -left-2 sm:-left-6 bottom-1 w-4 h-4">
            <SoundMove id={id} client:load/>            
        </div>
    </a>
    <div class='max-w-full absolute top-1/2 -translate-y-1/2 right-3 z-10'>
        <div class="relative opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-20 hidden sm:block">
            <CardPlayButton  id={id} client:idle/>
        </div>
    </div>
</div>
