---
// data
import type { Playlist } from "@/lib/data";
import CardPlayButton from "@/components/menu/CardPlayButton";

interface Props {
    playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, title, cover, artists } = playlist;
const artistsString = artists.join(", ");
---
<article
    class='group rounded-md relative sm:bg-card sm:hover:bg-cardHover sm:hover:transition-colors shadow-sm sm:hover:shadow-sm duration-300'
>
    <a
        href={`playlist/${id}`}
        class='playlist-item flex relative gap-2 sm:gap-4 sm:p-3 sm:w-[168px] xl:w-[174px] flex-col'
        transition:name={`playlist-${id}-box`}
    >
        <img
            class='rounded shadow-playlist object-cover w-full aspect-square'
            src={cover}
            alt={`Cover of ${title}`}
            transition:name=`playlist-${id}-image`
        />
        <div class='flex flex-col sm:min-h-[62px]'>
            <h3
                class='text-sm font-semibold truncate sm:font-bold sm:text-[15px] sm:pb-1'
                transition:name=`playlist-${id}-title`
            >
                {title}
            </h3>
            <span
                class='text-xs font-semibold sm:text-sm sm:font-normal line-clamp-2 text-txtgray'
                transition:name=`playlist-${id}-subtitle`
            >
                {artistsString}
            </span>
        </div>
    </a>
    <div
        class=`hidden sm:block absolute right-4 bottom-[105px] translate-y-4 transition duration-300 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 z-10 `
    >
        <CardPlayButton id={id} client:idle />
    </div>
</article>
