---
import Layout from "../../layouts/Layout.astro";

// data
import { allPlaylists, songs } from "../../lib/data";

// componentes
import NavigationButtons from "@/components/menu/NavigationButtons";
import Enlace from "../../components/Enlace";
import MusicTable from "@/components/menu/songPage/MusicTable";
import CardPlayButton from "@/components/menu/CardPlayButton";

// id Params
const { id } = Astro.params;

// playlistSeleccionada
const playlist = allPlaylists.find((playlist) => playlist.id === id);

// Canciones del playlist elegida
const playListSongs = songs.filter(
    (song) => song.albumId === playlist?.albumId
);

const bgFondo = {
    backgroundColor: playlist?.color.accent,
};

---

<Layout title={playlist ? playlist.title : "Spotify Astro"}>
    <div
        class='relative flex flex-col h-full bg-base min-h-full rounded-lg overflow-hidden'
        transition:name={`playlist ${id} box`}
    >
        <!-- Fondo imagen -->
        <div class="bg-cover bg-center h-full w-full absolute animacionScale blur-[1px] scale-[1.1]" style=`background-image: url(${playlist?.cover});`></div>
        <div class='absolute w-full h-full gradiantFondo opacity-[93%]' style={bgFondo}></div>

        <!-- PageHeader -->
        <NavigationButtons client:load forWardDisable={true} backDisable={false}/>

        <!-- Album -->
        <header class="px-4 pb-4 sm:px-6 sm:py-5 flex gap-4 sm:gap-8 items-end">
            <picture class='aspect-square w-32 h-32 sm:w-[232px] sm:h-[232px] block'>
                <img
                    class='object-cover w-32 h-32 sm:w-[232px] sm:h-[232px] shadow-[0_4px_60px_rgba(0,0,0,.5)]'
                    src={playlist?.cover}
                    alt={`Cover of ${playlist?.title}`}
                    transition:name=`playlist ${id} image`
                />
            </picture>
            <article class='relative flex flex-col justify-end'>
                <div>
                    <span class='font-light'>Playlist</span>
                </div>
                <div>
                    <h1 class='text-xl sm:text-5xl md:text-7xl font-black mt-1 mb-2 sm:mt-2 sm:mb-4' transition:name=`playlist ${id} title`>
                        {playlist?.title}
                    </h1>
                </div>
                <ul class='font-normal flex gap-1 text-[10px] sm:text-sm text-gray' transition:animate="none">
                    {playlist?.artists.map((artist, i) => (
                        <li>
                            <Enlace ariaLabel={'Seleccionar Artista'}>{artist}</Enlace>
                            <span>
                                {playlist?.artists.length !== i + 1
                                    ? " • "
                                    : ""}
                            </span>
                        </li>
                    ))}
                </ul>
                <p class="text-xs sm:text-sm text-gray mt-1 sm:mt-2">
                    <span class="text-white">{playListSongs.length} canciones</span>, 3 h aproximadamente
                </p>
            </article>
        </header>

        <!-- body -->
        <article class="px-4 pb-4 sm:px-6 bg-black/30 relative h-full">            
            <div class="py-3 sm:py-7 relative z-1">
                <CardPlayButton client:idle id={id} size="3.5rem"/>
            </div>
            <MusicTable
                songs={playListSongs} 
                client:load 
            />
        </article>    
    </div>
</Layout>

<style>

    .animacionScale {
        animation: scale-img 1s ;
    }

    @keyframes scale-img {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.1);
        }
    }

    .gradiantFondo {
        background: linear-gradient(rgba(0, 0, 0, 0) 0, #121212 70%),
            rgb(0 0 0 / 0.1);
    }
</style>
