---
import Layout from "../../layouts/Layout.astro";

// data
import { allPlaylists, songs } from "../../lib/data";

// componentes
import NavigationButtons from "@/components/menu/NavigationButtons";
import Enlace from "../../components/Enlace";
import MusicTable from "@/components/menu/songPage/MusicTable";
import CardPlayButton from "@/components/menu/CardPlayButton";

// id Params
const { id } = Astro.params;

// playlistSeleccionada
const playlist = allPlaylists.find((playlist) => playlist.id === id);

// Canciones del playlist elegida
const playListSongs = songs.filter(
    (song) => song.albumId === playlist?.albumId
);

const bgFondo = {
    backgroundColor: playlist?.color.accent,
};

---

<Layout title={playlist ? playlist.title : "Spotify Astro"}>
    <div
        class='relative flex flex-col h-full bg-base min-h-full rounded-lg overflow-hidden'
        transition:name={`playlist ${playlist?.id} box`}
    >
        <!-- Fondo imagen -->
        <div class="bg-cover bg-center h-full w-full absolute animacionScale scale-[1.1]" style=`background-image: url(${playlist?.cover});`></div>
        <div class='absolute w-full h-full gradiantFondo opacity-[94%]' style={bgFondo}></div>

        <!-- PageHeader -->
        <NavigationButtons client:visible forWardDisable={true} backDisable={false}/>

        <!-- Album -->
        <header class="px-6 py-5 flex gap-8 items-end">
            <picture class='aspect-square w-[232px] h-[232px] block'>
                <img
                    class='object-cover w-full h-full shadow-[0_4px_60px_rgba(0,0,0,.5)]'
                    src={playlist?.cover}
                    alt={`Cover of ${playlist?.title}`}
                    transition:name=`playlist ${playlist?.id} image`
                />
            </picture>
            <article class='relative flex flex-col justify-end'>
                <div>
                    <span class='font-light'>Playlist</span>
                </div>
                <div>
                    <h1 class='text-7xl font-black mt-2 mb-4' transition:name=`playlist ${playlist?.id} title`>
                        {playlist?.title}
                    </h1>
                </div>
                <ul class='font-normal flex gap-1 text-sm text-gray' transition:name=`playlist ${playlist?.id} subtitle`>
                    {playlist?.artists.map((artist, i) => (
                        <li>
                            <Enlace>{artist}</Enlace>
                            <span>
                                {playlist?.artists.length !== i + 1
                                    ? " • "
                                    : ""}
                            </span>
                        </li>
                    ))}
                </ul>
                <p class="text-sm text-gray mt-2">
                    <span class="text-white">{playListSongs.length} canciones</span>, 3 h aproximadamente
                </p>
            </article>
        </header>

        <!-- body -->
        <article class="px-6 bg-black/30 relative h-full">            
            <div class=" py-7 relative z-10">
                <CardPlayButton client:visible id={id} size="3.5rem"/>
            </div>
            <MusicTable
                songs={playListSongs} 
                client:visible 
            />
        </article>    
    </div>
</Layout>

<style>

    .animacionScale {
        animation: scale-img 1s;
    }

    @keyframes scale-img {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.1);
        }
    }

    .gradiantFondo {
        background: linear-gradient(rgba(0, 0, 0, 0.3) 0, #121212 70%),
            rgb(0 0 0 / 0.1);
    }
</style>
