---
import Time from "@/icons/Time.astro";
import { type Song } from "@/lib/data";
import Enlace from "./Enlace.astro";
// icons
import { Play } from '@/icons/react/PausePlay'

interface Props {
    songs: Song[];
}

const { songs } = Astro.props;
---

<table
    class='table-auto text-left min-w-full divide-y divide-txtgray/30 relative z-10'
>
    <thead>
        <tr class='text-gray'>
            <th class='pl-[22px] py-1 font-light'>#</th>
            <th class='px-4 py-1 font-semibold text-sm'>Título</th>
            <th class='px-4 py-1 font-semibold text-sm'>Álbum</th>
            <th class='px-4 py-1 font-semibold text-sm'><Time /></th>
        </tr>
    </thead>

    <tbody>
        <tr class="h-[18px]"></tr>
        {
            songs.map((song, index) => (
                <tr class='text-gray font-semibold hover:bg-white/10 rounded group py-1'>
                    <td class='pl-[22px] w-8 rounded-l'>
                        <span class="group-hover:hidden">
                            {index + 1}
                        </span>
                        <span class="text-white hidden group-hover:inline-block">
                            <Play w={12} h={12}/>
                        </span>
                    </td>
                    <td class='px-4 py-[6px] flex items-center gap-3'>
                        <picture class="w-10 h-10 object-cover">
                            <img
                                class='w-10 h-10 '
                                src={song.image}
                                alt={song.title}
                            />
                        </picture>
                        <div class='flex flex-col'>
                            <h3 class='font-light text-white'>
                                <Enlace>{song.title}</Enlace>
                            </h3>
                            <span class='text-sm font-light'>
                                {song.artists.join(", ")}
                            </span>
                        </div>
                    </td>
                    <td class='px-4 text-sm font-light'>
                        <Enlace>{song.album}</Enlace>
                    </td>
                    <td class='px-4 text-sm w-28 rounded-r'>{song.duration}</td>
                </tr>
            ))
        }
    </tbody>
</table>
